@*DataTable View*@
<div class="row" style="padding: 3%; border:1px solid">
	<div id="errorMessageShow">
		<p></p>
	</div>

	<div id="successMessageShow">
		<p></p>
	</div>

	<div class="container my-3 p-2 text-center" style="background-color: #91c0e3">
		<h2>List of Employess</h2>
	</div>

	<a href="#" class="btn btn-dark col-sm-2 mb-2" onclick="createNewFun()">Add New</a>

	<div style="border:1px solid black; padding:10px; width: 1300px; text-align:center" class="col-lg-4">
		<table id="InfoTable" class="cell-border" style="width:100%">
			<thead>
				<tr>
					<th>Employee Name</th>
					<th>Email</th>
					<th>Mobile</th>
					<th>Date Of Birth</th>
					<th>Photo</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Employee Name</th>
					<th>Email</th>
					<th>Mobile</th>
					<th>Date Of Birth</th>
					<th>Photo</th>
					<th>Actions</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>


@section scripts{
	<script src="//cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>

	<script>

		$(document).ready(function () {


			DataTableLoad();

			$("#submitId").click(function () {
				DataBinding();
			});
		})

		function DataTableLoad() {
			$("#InfoTable").DataTable({
				"processing": true,
				"serverSide": true,
				"bDestroy": true,
				"ajax": {
					"url": "/Employee/LoadAllAsync",
					"type": "GET",
					"datatype": "json"
				},
				"columns": [
					{ "data": "EmployeeName", "name": "EmployeeName", "orderable": true }, 
					{ "data": "Email", "name": "Email", "orderable": true }, 
					{ "data": "Mobile", "name": "Mobile", "orderable": true }, 
					{ "data": "DateOfBirth", "name": "DateOfBirth", "orderable": true },
					{ "data": "Photo", "name": "Photo", "orderable": false }, 
					{
						"data": "Id",
						"orderable": false, 
						"render": function (id) {
							return `
                        <a> <button type="submit" class="btn btn-outline-dark btn-sm" onClick="Details(${id})">
                        <i class="fas fa-pencil-alt"></i>Details</button></a>
                        <a> <button type="submit" class="btn btn-outline-danger btn-sm" onClick="Delete(${id})">
                        <i class="fas fa-pencil-alt"></i>Delete</button></a>
                        <a> <button type="submit" class="btn btn-outline-secondary btn-sm" onClick="Update(${id})">
                        <i class="fas fa-pencil-alt"></i>Update</button></a>`;
						}
					}
				],
				"order": [[0, 'asc']], 
				"bSort": true 
			});
		}
	</script>
}